- if @article
  - content_for :header do
    %link{rel: 'canonical', href: @article.canonical_url}
    %meta{property: "og:title", content: @article.title}
    %meta{property: "og:url", content: article_url(@article)}
    %meta{property: "og:type", content: 'article'}
    %meta{property: "og:locale", content: 'uk_UA'}
    - if @article.featured_media.present?
      %meta{property: "og:image", content: @article.featured_media_url}
      %meta{:content => "summary_large_image", :name => "twitter:card"}/
      %meta{:content => @article.featured_media_url, :name => "twitter:image:src"}/
    - else
      %meta{:content => "summary", :name => "twitter:card"}/

    %meta{:content => @article.title, :name => "twitter:title"}/
    %meta{:content => "　", :name => "twitter:description"}/
    %meta{:content => article_url(@article), :name => "twitter:url"}/
  - content_for :title do
    = @article.title
  .before_render_content
    %article(itemscope itemtype="http://schema.org/NewsArticle")
      %h1{itemprop: "name headline"}= @article.title
      - if @article.featured_media.present?
        =link_to 'Image', @article.featured_media_url, itemprop: 'image'
      %div{itemprop: 'articleBody'}= raw @article.content
      %p= link_to 'Оригінал', @article.canonical_url, itemprop: "sameAs", target: '_tab'
      %time{itemprop: "datePublished", datetime: @article.published_at.iso8601}= l @article.published_at
    = link_to '<< Назад', articles_path, class: 'btn btn-default'
#app
