<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'articles.index' class="navbar-brand"}}
        Новини
      {{/link-to}}
      <ul class="nav navbar-nav navbar-right">
        <div class="btn-group pull-right" style="padding-right: 35px; padding-top: 5px;">
          <button class='btn btn-default visible-xs-inline-block' {{action 'showPreviousItem'}}><i class="icon icon-arrow-left"></i></button>
          <button class='btn btn-default visible-xs-inline-block' {{action 'homeButtonClicked'}}><i class="icon icon-home"></i></button>
          <button class='btn btn-default visible-xs-inline-block' {{action 'showNextItem'}}><i class="icon icon-arrow-right"></i></button>
        </div>
      </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="mailto:contact@dynomatix.com?subject=Ukraine+News">
            Feedback
          </a>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          {{input value=query type="text" class="form-control" placeholder="Пошук"}}
        </div>
        <button type="submit" class="btn btn-default" {{action 'search' query}}>Знайти</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid" style="position: fixed; top: 60px; bottom: 0; left: 0; right: 0;">
  <div class="row" style="height: 100%;">
    {{outlet}}
  </div>
</div>
