<div class="col-sm-4" style="height: 100%;">
  <div class="list-group" style="height: 100%; overflow-y: scroll;">
    {{#each}}
      {{#link-to 'article' this class='list-group-item'}}
        <b>[{{source}}]</b> {{title}} <small>(<abbr class="timeago"{{bind-attr title="published_at_iso"}}>{{published_at_iso}}</abbr>)</small>
      {{/link-to}}
    {{/each}}
  </div>
</div>
<div class="col-sm-8" style="height: 100%; overflow: scroll;">
  {{outlet}}
</div>
