!!!
%html
  %head
    = render partial: '/layouts/google_analytics'
    %meta{:content => "width=device-width,initial-scale=1,minimal-ui,user-scalable=no", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => image_path('apple-touch-icon.png'), :rel => "apple-touch-icon-precomposed"}/
    %link{:href => image_path('apple-touch-icon-72x72.png'), :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => image_path('apple-touch-icon-114x114.png'), :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => image_path('apple-touch-icon-144x144.png'), :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => image_path('apple-touch-icon-512x512.png'), :rel => "apple-touch-icon-precomposed", :sizes => "512x512"}/
    %link{:href => image_path('apple-touch-icon-1024x1024.png'), :rel => "apple-touch-icon-precomposed", :sizes => "1024x1024"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lato:300,400,700,400italic,700italic|Droid+Serif", :rel => "stylesheet", :type => "text/css"}/
    %title= content_for?(:title) ? yield(:title) : "Новини"
    - if content_for?(:title)
      = yield(:header)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %h1.sr-only Summarize
    = render partial: '/layouts/navigation'
    #main.container
      #content.content.row.bg-base= yield
    =# render partial: '/layouts/footer'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
