<!DOCTYPE html>
<html>
<head>
  <%= airbrake_javascript_notifier %>
  <%= render partial: '/layouts/google_analytics' %>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon-precomposed" href="<%= image_path('apple-touch-icon.png') %>">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= image_path('apple-touch-icon-72x72.png') %>">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= image_path('apple-touch-icon-114x114.png') %>">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= image_path('apple-touch-icon-144x144.png') %>">
  <link rel="apple-touch-icon-precomposed" sizes="512x512" href="<%= image_path('apple-touch-icon-512x512.png') %>">
  <link rel="apple-touch-icon-precomposed" sizes="1024x1024" href="<%= image_path('apple-touch-icon-1024x1024.png') %>">
  <title><%= content_for?(:title) ? yield(:title) : "Новини" %></title>
  <%- if content_for?(:title) %>
    <%= yield(:header) %>
  <%- end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script>
  if (window.navigator.standalone) {
    $("meta[name='apple-mobile-web-app-status-bar-style']").remove();
  }
</script>
</body>
</html>
